
.slider {
	display: flex;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 15px;
}
.item {
	animation: animate 25s linear infinite;
}
.item img
	{
		min-width: 200px;
		padding: 0 30px;
	}
.slider:hover .item {
	animation-play-state: paused;
}
@keyframes animate {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-1800px, 0, 0);
	}
}

.brand_box{
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18), 0 1px 1px 0 rgba(0, 0, 0, 0.17);
    display: block;
    padding: 20px 10px;
    text-align: center;
}